{% block stylesheets %}
    {{ vite_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    <script>
        window.exchangeRates = {{ exchangeRates|json_encode|raw }};
    </script>
    {{ vite_entry_script_tags('app') }}
{% endblock %}

<div id="root"></div>
